* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 20px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: MintCream;
}

/*                                                   Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: DarkGoldenRod;
  position: relative;
  box-shadow: 1px 1px 1.5px 1.5px gray;
}

@media only screen and (min-width: 960px) {
  .topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* Hide the links inside the navigation menu (except for logo/home) */
@media only screen and (min-width: 960px) {
  .topnav #myLinks {
    display: flex;
  }
}

@media only screen and (max-width: 959px) {
  .topnav #myLinks {
    display: none;
  }
}

/* Style navigation menu links */
.topnav a {
  color: MintCream;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a:hover {
  text-decoration: overline;
  transition: 0.5s;
}

.topnav a.active:hover {
  text-decoration: none;
}

@media only screen and (max-width: 959px) {
  .topnav a {
    box-shadow: 0.3px 0.3px 0.35px 0.35px gray;
  }
}

/* Style the hamburger menu */
@media only screen and (max-width: 959px) {
  .topnav a.icon {
    background: #785807;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media only screen and (min-width: 960px) {
  .topnav a.icon {
    display: none;
  }
}

/* Add a  background color on mouse-over */
.topnav a:hover {
  background-color: floralwhite;
  color: #785807;
  font-weight: bold;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #785807;
  color: MintCream;
}
/*topnav*/

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

/*----------------------------------------------------------contact page ---------------------------------------------------------------------------*/

.container-form{
  margin-top: 2.5em;
  border-radius: 10px;
  background-color: floralwhite;
  padding-bottom: 1.5em;
  box-shadow: 1px 1px 1.5px 1.5px gray;
  position:relative;
}

.container-form ion-icon{
  color:DarkGoldenRod;
  background-color: floralwhite;
  font-size: 3.5rem;
box-shadow: 1px 1px 1.5px 1.5px gray;
  border-radius: 50%;
  padding: 0.15em;
margin-left: calc(50% - 0.7em);
margin-bottom: -1.15em;
}

.container-form ion-icon:hover{
    color:#785807;
    transition:0.3s;
}

#center-svg-pizza{
  display: flex;
  align-items: center;
  justify-content: center;
}

#center-svg-pizza img{
  height: 22em;
  width:100%;
  border-top: 5px solid #785807;
border-bottom: 5px solid #785807;
box-shadow: 1px 1px 1.5px 1.5px gray;
border-radius: 10px;
padding-top:2.5em;
margin-top: 3.5em;
background-color: DarkGoldenRod;
}

@media only screen and (max-width: 959px) {
  #center-svg-pizza img{
    height: 15em;
    width:100%;
  }
}

#center-svg-pizza img:hover{
  background-color: #785807;
  transition:0.3s;
}

.header {
	border-bottom: 5px solid #785807;
	background-color: DarkGoldenRod;
	padding: 20px 40px;
  border-radius: 10px 10px 0 0;
}

.header h2 {
	margin: 0;
  text-align: center;
  color:MintCream;
}

.form {
	padding: 30px 40px;
  color:DarkGoldenRod;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	/* display: inline-block; */
	margin-bottom: 5px;
  width: 100%;
}

.form-control input {
	border: 2.5px solid DarkGoldenRod;
	border-radius: 5px;
	/* display: block; */
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #785807;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #785807;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}


.form{
  position:relative;
}

/*-----------------------------textarea---------------------*/

.form-control textarea {
	border: 2.5px solid DarkGoldenRod;
	border-radius: 5px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control textarea:focus {
	outline: 0;
	border-color: #785807;
}

.form-control.success textarea {
	border-color: #2ecc71;
}

.form-control.error textarea {
	border-color: #e74c3c;
}

/*---https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_textarea---------------------------------------------------------------------------------------------------------------------------*/

.form-control:nth-of-type(5) i {
	visibility: hidden;
	position: absolute;
	top: 90px;
	right: 10px;
}

.form-control:nth-of-type(5) label {
	/* display: inline-block; */
}
/*--------------------------------------------------------------------------completare formular--------------------------------------*/

.container-form .header.second{
  border-top: 5px solid #785807;
  background-color: DarkGoldenRod;
  padding: 20px 40px;
  border-radius: 10px ;
}

.container-form .ringPizza{
  color:floralwhite;
  text-align: center;
  margin:1.5em 0 0.5em 0;
}

#label-phone-number{
  margin-top:1.5em;
}

#userPhone{
    margin-top:-1.5em;
}





.multiple-pizza{
  display: flex;
  align-items: center;

}

.multiple-pizza select{
  padding:0.5em;
  border-radius: 3px;
  border:1.5px solid DarkGoldenRod;
  margin-left: calc(50% - 6.5em);
}

.multiple-pizza select option:hover{
  color:#785807;
}





.form-control select option{
  color:DarkGoldenRod;
  padding: 0.5em 0;
  font-weight: bold;
}

 #submit{
  background-color: DarkGoldenRod;
  box-shadow: 1px 1px 1.5px 1.5px gray;
  border-radius: 10px;
  color: mintcream;
  font-weight: bold;
  font-size: 1.5rem;
  display: block;
  font-family: inherit;
  padding: 20px 40px;
  margin: 1.5em 0;
  /* width: 100%; */
}



input , textarea{
  color:DarkGoldenRod;
}


/*---------------------------------terms and conditions-------------------------------------------------------------------------------*/

.termsConditionsArticle{
  background-color:DarkGoldenRod ;
  color:floralwhite ;
  padding: 1.5em;
  margin:3em ;
  border-radius: 10px;
  box-shadow: 1px 1px 1.5px 1.5px gray;
}

.termsConditionsArticle:hover{
  background-color: #785807;
  transition: ease 0.5s;
}

.termsConditionsArticle:active{
  color: #785807;
  background-color:floralwhite ;
}

.termsConditionsDiv{
  height:100vh ;
  display:flex ;
  align-items:center ;
  justify-content:center ;
  flex-direction:column;
}


/*------------------------------------terms and conditions------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------completare formular--------------------------------------------------*/
/*-------------------------------------------------------------------user-data------------------------------------------------*/

.user-data{
margin-top: 3.5em;
padding-bottom: 1.5em;
position:relative;
/* background-color: floralwhite; */
}

/*----------------------------------------------------------contact page ---------------------------------------------------------------------------*/
.banner-text {
  background-color: floralwhite;
}

.banner-text a{
  width:100%;
  display:block;
  text-align: center;
  font-weight: bold;
  margin:3.5em 0 0.5em 0;;
  padding:20px 0 ;

  border-top: 5px solid #785807;
border-bottom: 5px solid #785807;
box-shadow: 1px 1px 1.5px 1.5px gray;
border-radius: 10px;

color:DarkGoldenRod;
  position: relative;
  z-index: 1;
  transition:color 1.5s;
}

.banner-text a span{
  position: absolute;
width:0%;
height:100%;
top:0;
left:0;

border-radius: 5px;
color:floralwhite;
  overflow: hidden;
background-color: DarkGoldenRod;
z-index: -1;
transition: 0.5s;
}

.banner-text a:hover span{
  width: 100%;

}

.banner-text a:hover{
  color:floralwhite;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/
.title-map{
  color: DarkGoldenRod;
  text-align: center;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  text-decoration: overline;
  text-transform: capitalize;
}

.title-map:hover{
  color: #785807;
}

@media only screen and (max-width: 959px) {
  #makeMap{
    position: relative;
    height: 15em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: floralwhite;
  }
}

@media only screen and (min-width: 960px) {
  #makeMap{
    position: relative;
    height: 22em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: floralwhite;
  }
}

#map {
   position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  /* margin: 0 1em; */
  border-top: 5px solid #785807;
border-bottom: 5px solid #785807;
box-shadow: 1px 1px 1.5px 1.5px gray;
border-radius: 10px;
 }

/*-------------------------------------------------------------------------------------------------text with background image*/
#enjoyPizza{
margin-top:3em;
margin-bottom: 3em;
  background-repeat: no-repeat;
 background-image: url(../images/pizza-text-01.png);
 background-position: center;
 background-size: cover;
 background-color: DarkGoldenRod;
 border-top: 5px solid #785807;
border-bottom: 5px solid #785807;
box-shadow: 1px 1px 1.5px 1.5px gray;
border-radius: 10px;
}
#enjoyPizza:hover{
  background-color: #785807;
}

@media only screen and (min-width: 960px) {
  #enjoyPizza , #haveFun{
    height:11em;
  }
}

@media only screen and (max-width: 959px) {
  #enjoyPizza , #haveFun{
    height:7.5em;
     background-image: url(../images/pizza-background-01.png);
  }
}

body{
    background-repeat: repeat-x repeat-y;
 background-image: url(../images/xd-pizza.svg);
}

/*
background-image: url("paper.gif");
  background-repeat: repeat-y;*/

  /*https://www.w3schools.com/cssref/pr_background-repeat.asp*/


/*-------------------------------------------------------------------------------------------------text with background image*/

/*footer*/
.hidden {
  display: none;
}

@media only screen and (min-width: 960px) {
  #icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 959px) {
  #icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

footer ion-icon {
  color: DarkGoldenRod;
  font-size: 3rem;
  margin: 1em 0.7em;
  padding: 0.07em;
  border-radius: 50%;
}

footer ion-icon:hover {
  color: #785807;
  transition:0.3s;
}

footer a h3 {
  color: DarkGoldenRod;
  margin-bottom: 1em;
  text-decoration: overline;
  text-transform: capitalize;
}

footer a h3:hover {
  color: #785807;
}

footer h5 {
  text-align: center;
  margin: 1em 0;
}

footer #divSources h5 a {
  color: DarkGoldenRod;
  padding: 1.5em 0;
}

/* footer #divSources h5 a:last-of-type{
  padding-bottom: -1.5em;
} */

footer #divSources h5 a:hover {
  color: #785807;
}


/**/
